# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (subiendo todos a petición del usuario)
# NOTA: si rotas la API key, recuerda no subir la nueva al repo público.
# .env*
# !.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts